// colors
$white: #fff;
$pewterGray: #9a9b9b;
$nobelGray: #b3b3b3;
$codGray: #1b1b1b;
$black: #000;
$malachiteGreen: #0fd65a;

// typography
$fsXl: 36px;
$fsIconXl: 34px;
$fsIconMd: 30px;
$fsIcon: 26px;
$fsMd: 24px;
$fsBtnMd: 20px;
$fsSm: 18px;

// font weight
$light: 300;
$regular: 400;
$bold: 700;
